*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.border-no{
    border: none;
}

.arancione{
    color: rgb(255, 143, 0);
}

.bg-grey{
    background-color: rgba(212, 209, 209, 0.87)
}

.bg-green{
    background-color: green;
}

.bg-blu{
    background-color: rgb(27, 114, 232);
}

/*************************
HEADER 
**************************/


/*************************
NAV
**************************/
nav{
    height:calc(100vh - 30px);
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: rgb(5, 30, 52)
}

.row-nav{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    justify-content: space-between;
}

/*************************
contenuto principale
**************************/

.container-principale{
    width: calc(100% - 150px);
}

/* Dettagli studente e registrazione */
.contenuto-nuovo-studente{
    height: 150px;
    width: 100%;
}