*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.fs_8{
    font-size: 10px;
}

.grassetto{
    font-weight: 900;
}

.border-no{
    border: none;
}

.arancione{
    color: rgb(255, 143, 0);
}

.bg-grey{
    background-color: rgba(212, 209, 209, 0.87)
}

.bg-green{
    background-color: green;
}

.bg-blu{
    background-color: rgb(27, 114, 232);
}

.bg-chiaro{
    background-color: rgb(247, 247, 247);
}

/*************************
HEADER 
**************************/


/*************************
NAV
**************************/
nav{
    height:calc(100vh - 70px);
    width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: rgb(5, 30, 52)
}

.row-nav{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    justify-content: space-between;
}

/*************************
contenuto principale
**************************/

.altezza-contenuto-principale{
    height: calc(100vh - 70px);
    overflow-y: scroll;
}

.container-principale{
    width: calc(100vw - 150px);

}

.border-white{
    border-color: white;
    padding: 0px;
    margin: 0px;
}

.padding-bottone{
    padding: 0px 2px;
}

/* Dettagli studente e registrazione */
.contenuto-nuovo-studente{
    width: 100%;
}

.bordo-grigio{
    padding: 5px;
    border: 2px solid rgb(240, 240, 240);;
    border-radius: 7px;
}

#tabella-width{
    width: 50%;
}
.class-avatar{
    height: 25px;
}